
.form-expense {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-expense .form-expense-heading,
.form-expense .checkbox {
	margin-bottom: 10px;
}

.form-expense .checkbox {
	font-weight: normal;
}

.form-expense .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-expense .form-control:focus {
	z-index: 2;
}

.form-expense input[type="password"] {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}