
#chart_div {
	width: 700px;
	height: 500px;
	margin: 20px auto;
}

.hide {
	display: none;
}

.show {
	display: block;
}

h1 {
	text-align: center; 
	display:none;
}

@media (max-width: 700px) {
	#chart_div {
		width: 330px;
		height: 200px;
		margin: 10px auto;
	}
}