<script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/angular-route.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/Chart.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/angular-chart.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/sha256.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/spa.js")" type="text/javascript"></script>
