<script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/jquery.jqplot.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/jqplot.canvasTextRenderer.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/jqplot.categoryAxisRenderer.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/jqplot.canvasAxisTickRenderer.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/plugins/jqplot.barRenderer.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/angular-route.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/angular-ui-chart.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/sha256.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/spa.js")" type="text/javascript"></script>
