@import tags._

<!DOCTYPE html>

<html ng-app="ExpenseTrackerApp">
<head>
  @head()
</head>
<body ng-controller="MainController">

  @menu()

  <div class="alert alert-warning fade" ng-class="{in: warningMessage !== ''}" role="alert">{{warningMessage}}</div>
  <div class="alert alert-danger fade" ng-class="{in: errorMessage !== ''}" role="alert">{{errorMessage}}</div>
  <div class="alert alert-success fade" ng-class="{in: successMessage !== ''}" role="alert">{{successMessage}}</div>

  <div ng-view></div>

  @js()
</body>
</html>