@(users: List[User], expenses: List[Expense])

<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>@play.Play.application().configuration().getString("db.driver")</h1>
	<table>
		<tr><th>id</th><th>email</th><th>password</th></tr>
		@for(u <- users){ 
			<tr><td>@u.id</td><td>@u.email</td><td>@u.password</td></tr>
		}
	</table>
	<hr />
	<table>
		<tr><th>id</th><th>amount</th><th>date</th><th>description</th></tr>
		@for(e <- expenses){ 
			<tr><td>@e.id</td><td>@e.amount</td><td>@e.date</td><td>@e.description</td></tr>
		}
	</table>
</body>
</html>